
.container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.alert{
    text-align: center;
    margin: 20px auto;
}

.alert li{
    list-style-type: none;
    margin-left:none;
}


.alert.success {
  background-color: lightgreen;
}

.alert.info {
  background-color: lightblue;
}

.alert.warning {
  background-color: pink;
}

.alert.error {
  background-color: red;
}
