<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="alert">
        {% for category, message in messages %}
        <li class="alert {{ category }}"><p>{{ message }}</p></li>
        {% endfor%}
    </ul>
    {% endif %}
    {% endwith%}

    <h3>{{ title }}</h3>
    <p>Текущий пользователь - {{ current_user }}</p>
    <img src="{{ user_pic|safe }}">

    {% block content %}

    {% endblock content %}
</div>
</body>
</html>